<header class="header">
    <div class="header-left">
        <img src="/image/logo.png" alt="AMS Logo" class="logo">
        <h1 class="system-title">AMS</h1>
    </div>

    <div class="header-right">
        <img src="/image/notification.png" alt="Notifications" class="nav-icon">
        
        <div class="menu-dropdown">
            <img src="/image/menu.png" alt="Menu" class="nav-icon dropdown-toggle">

            <!-- Dropdown menu -->
            <ul class="dropdown-menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>

<nav class="navigation">
    <ul>
        <li>
            <a href="/home">
                <img src="/image/home.png" alt="Home">
                <span>Home</span>
            </a>
        </li>

        <li>
            <a href="/appointments">
                <img src="/image/appointments.png" alt="Appointments">
                <span>Appointments</span>
            </a>
        </li>

        <li>
            <a href="/rewards">
                <img src="/image/rewardsLoyalty.png" alt="Rewards">
                <span>Rewards</span>
            </a>
        </li>

        <li>
            <a href="/history">
                <img src="/image/history.png" alt="History">
                <span>History</span>
            </a>
        </li>
    </ul>
</nav>
